<!--<div class="backgroundHome" style="margin-top: 0; position: relative">-->
    <!--<div>-->
        <!--&lt;!&ndash;<h1>PostKo International Inc.</h1>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="circle-text-small" style="margin-top: 24%; margin-left: 67%;position: absolute; z-index: 1">&ndash;&gt;-->
            <!--&lt;!&ndash;<div>找我感兴趣的专业</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--&lt;!&ndash;<div class="circle-text" style="margin-top: 3%; margin-left: 45%;position: absolute">&ndash;&gt;-->
            <!--&lt;!&ndash;<div>&ndash;&gt;-->
                <!--&lt;!&ndash;<h2>入学后能不能该专业？</h2>&ndash;&gt;-->
                <!--&lt;!&ndash;<h3>没问题</h3>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--&lt;!&ndash;<div class="circle-text-med" style=" margin-top: 5%; margin-left: 75%;position: absolute">&ndash;&gt;-->
            <!--&lt;!&ndash;<div style="text-align: center">&ndash;&gt;-->
                <!--&lt;!&ndash;<p style="font-weight: bold; color: white;">&ndash;&gt;-->
                    <!--&lt;!&ndash;不知道从何开始?&ndash;&gt;-->
                    <!--&lt;!&ndash;<br>&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href=""> 点这里 ▶</a>&ndash;&gt;-->
                <!--&lt;!&ndash;</p>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->

    <!--<div style=" width: 5%; height:250px; bottom: 0;background-color: black;opacity: 0.4; position: absolute; z-index: 1"></div>-->

    <!--<div style=" margin-left: 5%; width: 30%; height:250px; bottom: 0;background-color: rgba(0,0,0,0.8); position: absolute; z-index: 1">-->
                <!--<div class="col-xs-12">-->
                    <!--<div class="row" style="margin-left: 0;margin-right: 0;">-->
                        <!--<div class="col-xs-12" style="margin-top: 10px">-->
                            <!--<div class="service-box-2">-->
                                <!--<i class="fa fa-thumbs-up"></i>-->
                                <!--<h4>Full support</h4>-->
                                <!--<p>-->
                                    <!--Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Lorem ipsum dolor sit amet, consectetur.-->
                                <!--</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<br>-->
                    <!--<div class="row" style="margin-left: 0;margin-right: 0">-->
                        <!--&lt;!&ndash;<div class="col-xs-12">&ndash;&gt;-->
                            <!--&lt;!&ndash;<h4 style="text-align: center; color: white">OR</h4>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="col-xs-9" style="color: white">&ndash;&gt;-->
                                <!--&lt;!&ndash;Search for major, school, location, tuition etc.&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="col-xs-2" style="margin-top: 10px">&ndash;&gt;-->
                                <!--&lt;!&ndash;<button class="btn btn-primary">Search</button>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

    <!--<div style=" margin-left: 35%; width: 30%; height:250px; bottom: 0;background-color: rgba(0,0,0,0.5); position: absolute; z-index: 1">-->

                <!--<div class="col-sm-12">-->
                    <!--<div class="row" style="margin-left: 0;margin-right: 0;">-->
                        <!--<div class="col-sm-12" style="margin-top: 10px">-->
                            <!--<div class="service-box-2">-->
                                <!--<i class="fa fa-image"></i>-->
                                <!--<h4>Modern design</h4>-->
                                <!--<p>-->
                                    <!--Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Lorem ipsum dolor sit amet, consectetur.-->
                                <!--</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<br>-->
                    <!--<div class="row" style="margin-left: 0;margin-right: 0">-->
                        <!--&lt;!&ndash;<div class="col-sm-10 col-sm-offset-1" style="margin-top: 10px">&ndash;&gt;-->
                            <!--&lt;!&ndash;<button class="btn btn-primary pull-left" style="width: 111px">Apply School</button>&ndash;&gt;-->
                            <!--&lt;!&ndash;<button class="btn btn-primary pull-right" style="width: 111px">Apply Visa</button>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->


            <!--</div>-->

    <!--<div style=" margin-left: 65%;width: 30%; height:250px; bottom: 0;background-color: rgba(0,0,0,0.8); position: absolute; z-index: 1">-->

                <!--<div class="col-sm-12">-->
                    <!--<div class="row" style="margin-left: 0;margin-right: 0;">-->
                        <!--<div class="col-sm-12" style="margin-top: 10px">-->
                            <!--<div class="service-box-2">-->
                                <!--<i class="fa fa-desktop"></i>-->
                                <!--<h4>Fully responsive</h4>-->
                                <!--<p>-->
                                    <!--Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Lorem ipsum dolor sit amet, consectetur.-->
                                <!--</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->


            <!--</div>-->

    <!--<div style=" margin-left: 95%; width: 5%; height:250px; bottom: 0;background-color: black;opacity: 0.4; position: absolute; z-index: 1"></div>-->
<!--</div> &lt;!&ndash; Subsituite home page &ndash;&gt;-->

<div class="parallax soon-bg" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>We're Currently Under Construction</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div id="defaultCountdown"></div><!--countdown-->
            </div>
        </div>
    </div>
</div><!--soon bg-->

<div>
    <!--<div class="row" style="height: 150px">-->
        <!--<div class="col-sm-1">-->

        <!--</div>-->

        <!--<div class="col-sm-2" style="background-color: red; text-align: left">-->

            <!--&lt;!&ndash;<p>&ndash;&gt;-->
                <!--&lt;!&ndash;<h3 style="margin-bottom: 5px"> > 2000</h3>&ndash;&gt;-->
                <!--&lt;!&ndash;more than 2000 schools&ndash;&gt;-->
            <!--&lt;!&ndash;</p>&ndash;&gt;-->
            <!--&lt;!&ndash;<p>&ndash;&gt;-->
                <!--&lt;!&ndash;<h3 style="margin-bottom: 5px">> 95% </h3>&ndash;&gt;-->
                <!--&lt;!&ndash;sometext&ndash;&gt;-->
            <!--&lt;!&ndash;</p>&ndash;&gt;-->

        <!--</div>-->

        <!--<div class="col-sm-2" style="background-color: green">-->

            <!--&lt;!&ndash;<p>&ndash;&gt;-->
                <!--&lt;!&ndash;<h3 style="margin-bottom: 5px"> Step by Step</h3>&ndash;&gt;-->
                <!--&lt;!&ndash;more than 2000 schools&ndash;&gt;-->
            <!--&lt;!&ndash;</p>&ndash;&gt;-->
            <!--&lt;!&ndash;<p>&ndash;&gt;-->
                <!--&lt;!&ndash;<h3 style="margin-bottom: 5px"> Double Check</h3>&ndash;&gt;-->
                <!--&lt;!&ndash;sometext&ndash;&gt;-->
            <!--&lt;!&ndash;</p>&ndash;&gt;-->
            <!--&lt;!&ndash;<p>&ndash;&gt;-->
                <!--&lt;!&ndash;<h3 style="margin-bottom: 5px"> Overseas Origin</h3>&ndash;&gt;-->
                <!--&lt;!&ndash;sometext&ndash;&gt;-->
            <!--&lt;!&ndash;</p>&ndash;&gt;-->

        <!--</div>-->

        <!--<div class="col-sm-2" style="background-color: blue">-->

            <!--&lt;!&ndash;<p>&ndash;&gt;-->
            <!--&lt;!&ndash;<h3 style="margin-bottom: 5px"> Free!</h3>&ndash;&gt;-->
            <!--&lt;!&ndash;sometext&ndash;&gt;-->
            <!--&lt;!&ndash;</p>&ndash;&gt;-->
        <!--</div>-->

        <!--<div class="col-sm-2" style="background-color: yellow">-->

            <!--&lt;!&ndash;<p>&ndash;&gt;-->
            <!--&lt;!&ndash;<h3 style="margin-bottom: 5px"> 3rd Party Assurance</h3>&ndash;&gt;-->
            <!--&lt;!&ndash;sometext&ndash;&gt;-->
            <!--&lt;!&ndash;</p>&ndash;&gt;-->

        <!--</div>-->

        <!--<div class="col-sm-2" style="background-color: purple">-->

            <!--&lt;!&ndash;<p>&ndash;&gt;-->
            <!--&lt;!&ndash;<h3 style="margin-bottom: 5px"> 关注我们</h3>&ndash;&gt;-->
            <!--&lt;!&ndash;sometext&ndash;&gt;-->
            <!--&lt;!&ndash;</p>&ndash;&gt;-->

        <!--</div>-->
    <!--</div>-->

    <div class="row">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-10">
            <!--<img src="resources/images/PeerSpace-Roadmap-Infographic_01.gif" style="width: 80%">-->
            <!--<img src="resources/images/PeerSpace-Roadmap-Infographic_02.gif" style="width: 80%">-->
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin-top: 30px;">
                <h3 class="heading">Better Services Provided By Us</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo tristique odio, quis fringilla ligula aliquet ut. Maecenas sed justo varius velit imperdiet bibendum. Vivamus nec sapien massa, a imperdiet diam. Aliquam erat volutpat. Sed consectetur suscipit nunc et rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo tristique odio, quis fringilla ligula aliquet ut. Maecenas sed justo varius velit imperdiet bibendum. Vivamus nec sapien massa, a imperdiet diam. Aliquam erat volutpat. Sed consectetur suscipit nunc et rutrum
                </p>
                <p><a href="#" class="btn btn-theme-bg">Hire Us Now</a></p>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4 margin20">
                <div class="service-box wow animated fadeInLeft animated" data-wow-delay="800ms">
                    <h4><i class="fa fa-thumbs-o-up"></i> 24/7 Dedicated Support</h4>
                    <p>
                        Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Lorem ipsum dolor sit amet, consectetur.
                    </p>
                </div><!--service box-->
            </div><!--service-col-->
            <div class="col-md-4 margin20">
                <div class="service-box wow animated fadeInLeft animated" data-wow-delay="1000ms">
                    <h4><i class="fa fa-flag"></i> Font Awesome Icons</h4>
                    <p>
                        Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Lorem ipsum dolor sit amet, consectetur.
                    </p>
                </div><!--service box-->
            </div><!--service-col-->
            <div class="col-md-4 margin20">
                <div class="service-box wow animated fadeInLeft animated" data-wow-delay="1200ms">
                    <h4><i class="fa fa-text-height"></i> Google Fonts </h4>
                    <p>
                        Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Lorem ipsum dolor sit amet, consectetur.
                    </p>
                </div><!--service box-->
            </div><!--service-col-->
        </div><!--services row-->

    </div>



    <!--<div class="row">-->
        <!--<section class="portfolio" style="background-color: white; padding-top: 20px">-->
            <!--<div class="container">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-12">-->
                        <!--<h3 class="heading">Popular Products</h3>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row">-->
                    <!--<div class="col-md-12">-->
                        <!--<div id="work-carousel" class="owl-carousel owl-spaced">-->
                            <!--<div>-->
                                <!--<a>-->
                                    <!--<div class="item-img-wrap ">-->
                                        <!--<img src="resources/img/work-1.png" class="img-responsive" alt="workimg">-->
                                        <!--<div class="item-img-overlay">-->
                                            <!--<span></span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</a>&lt;!&ndash;work link&ndash;&gt;-->
                                <!--<div class="work-desc">-->
                                    <!--<i class="fa fa-twitter"></i>-->
                                    <!--<h5><a href="#">Product Name</a></h5>-->
                                <!--</div>&lt;!&ndash;work desc&ndash;&gt;-->
                            <!--</div>&lt;!&ndash;owl item&ndash;&gt;-->
                            <!--<div>-->
                                <!--<a>-->
                                    <!--<div class="item-img-wrap">-->
                                        <!--<img src="resources/img/work-2.png" class="img-responsive" alt="workimg">-->
                                        <!--<div class="item-img-overlay">-->
                                            <!--<span></span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</a>&lt;!&ndash;work link&ndash;&gt;-->
                                <!--<div class="work-desc">-->
                                    <!--<i class="fa fa-twitter"></i>-->
                                    <!--<h5><a href="#">Product Name</a></h5>-->
                                <!--</div>&lt;!&ndash;work desc&ndash;&gt;-->
                            <!--</div>&lt;!&ndash;owl item&ndash;&gt;-->
                            <!--<div>-->
                                <!--<a>-->
                                    <!--<div class="item-img-wrap">-->
                                        <!--<img src="resources/img/work-3.png" class="img-responsive" alt="workimg">-->
                                        <!--<div class="item-img-overlay">-->
                                            <!--<span></span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</a>&lt;!&ndash;work link&ndash;&gt;-->
                                <!--<div class="work-desc">-->
                                    <!--<i class="fa fa-twitter"></i>-->
                                    <!--<h5><a href="#">Product Name</a></h5>-->
                                <!--</div>&lt;!&ndash;work desc&ndash;&gt;-->
                            <!--</div>&lt;!&ndash;owl item&ndash;&gt;-->
                            <!--<div>-->
                                <!--<a>-->
                                    <!--<div class="item-img-wrap">-->
                                        <!--<img src="resources/img/work-5.png" class="img-responsive" alt="workimg">-->
                                        <!--<div class="item-img-overlay">-->
                                            <!--<span></span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</a>&lt;!&ndash;work link&ndash;&gt;-->
                                <!--<div class="work-desc">-->
                                    <!--<i class="fa fa-twitter"></i>-->
                                    <!--<h5><a href="#">Product Name</a></h5>-->
                                <!--</div>&lt;!&ndash;work desc&ndash;&gt;-->
                            <!--</div>&lt;!&ndash;owl item&ndash;&gt;-->
                            <!--<div>-->
                                <!--<a>-->
                                    <!--<div class="item-img-wrap">-->
                                        <!--<img src="resources/img/work-6.png" class="img-responsive" alt="workimg">-->
                                        <!--<div class="item-img-overlay">-->
                                            <!--<span></span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</a>&lt;!&ndash;work link&ndash;&gt;-->
                                <!--<div class="work-desc">-->
                                    <!--<i class="fa fa-twitter"></i>-->
                                    <!--<h5><a href="#">Product Name</a></h5>-->
                                <!--</div>&lt;!&ndash;work desc&ndash;&gt;-->
                            <!--</div>&lt;!&ndash;owl item&ndash;&gt;-->
                            <!--<div>-->
                                <!--<a>-->
                                    <!--<div class="item-img-wrap">-->
                                        <!--<img src="resources/img/work-7.png" class="img-responsive" alt="workimg">-->
                                        <!--<div class="item-img-overlay">-->
                                            <!--<span></span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</a>&lt;!&ndash;work link&ndash;&gt;-->
                                <!--<div class="work-desc">-->
                                    <!--<i class="fa fa-twitter"></i>-->
                                    <!--<h5><a href="#">Product Name</a></h5>-->
                                <!--</div>&lt;!&ndash;work desc&ndash;&gt;-->
                            <!--</div>&lt;!&ndash;owl item&ndash;&gt;-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>&lt;!&ndash;row&ndash;&gt;-->
                <!--<div class="divide30"></div>-->
                <!--<div class="row">-->
                    <!--<div class="col-md-12 text-center">-->
                        <!--<a href="#" class="btn border-black wow animated fadeInUp"> More Products</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>&lt;!&ndash;container&ndash;&gt;-->
        <!--</section>&lt;!&ndash;recent work section &ndash;&gt;-->

    <!--</div>-->


    <section class="parallax process-rounded" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 style="margin-bottom: 10px; color: white">EARN UP TO $300 JUST TO FLY!
                    </h2>
                    <p style="color: white">Register your flight today with PostKo</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="#" class="btn btn-lg border-white" style="width: 150px">Login</a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="#" class="btn btn-lg border-white" style="width: 150px">Register</a>
                </div>
            </div>
        </div>
    </section><!--process rounded-->

</div>

