<div class="divide30"></div>
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <h3 class="heading">A little About Us</h3>
            <p class="dropcap">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo tristique odio, quis fringilla ligula aliquet ut. Maecenas sed justo varius velit imperdiet bibendum. Vivamus nec sapien massa, a imperdiet diam. Aliquam erat volutpat. Sed consectetur suscipit nunc et rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo tristique odio, quis fringilla ligula aliquet ut. Maecenas sed justo varius velit imperdiet bibendum. Vivamus nec sapien massa, a imperdiet diam. Aliquam erat volutpat. Sed consectetur suscipit nunc et rutrum
            </p>
            <p><a href="#" class="btn btn-theme-bg">Contact Us</a></p><hr>
        </div>
        <div class="col-md-5">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="http://player.vimeo.com/video/57175742"></iframe>
            </div>
        </div>
    </div>
    <div class="divide50"></div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="heading">Our Services</h3>
        </div>
        <div class="col-md-4 margin20">
            <div class="service-box wow animated fadeInLeft animated" data-wow-delay="200ms">
                <h4><i class="fa fa-desktop"></i> Responsive Design</h4>
                <p>
                    Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Lorem ipsum dolor sit amet, consectetur.
                </p>
            </div><!--service box-->
        </div><!--service-col-->
        <div class="col-md-4 margin20">
            <div class="service-box wow animated fadeInLeft animated" data-wow-delay="400ms">
                <h4><i class="fa fa-image"></i> Parallax Background</h4>
                <p>
                    Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Lorem ipsum dolor sit amet, consectetur.
                </p>
            </div><!--service box-->
        </div><!--service-col-->
        <div class="col-md-4 margin20">
            <div class="service-box wow animated fadeInLeft animated" data-wow-delay="600ms">
                <h4><i class="fa fa-keyboard-o"></i> Easy to Customize </h4>
                <p>
                    Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Lorem ipsum dolor sit amet, consectetur.
                </p>
            </div><!--service box-->
        </div><!--service-col-->
    </div><!--row-->

</div><!--about container-->