<nav class="navbar-default" role="navigation" style="padding-bottom: 0">
    <div class="row" style="height: inherit">
        <div class="col-sm-3" style="height: 100%">
            <div class="navbar-header">
                <img class="navbar-brand" src="resources/images/PostKo-01.svg" style="height: 200px;width: auto; padding-top: 5px; padding-bottom: 0; margin-top: -50px; margin-bottom: -100px ">
            </div>
        </div>

        <div class="col-sm-9" style="height: 100%; padding-left: 0;">
            <!-- Search/Login -->
            <div class="row" style="height: 100%; margin-right: 10px; margin-top: 10px;">
                <div class="collapse navbar-collapse" style="padding-right: 0;">
                    <ul class="nav navbar-nav navbar-right">
                        <!--<li><p class="navbar-text">Already have an account?</p></li>-->
                        <!--<li><a ui-sref="yixue.auth({type:'signup'})">Sign up</a></li>-->
                        <li><a data-ng-click="openLoginModal()">Login | Sign up</a></li>
                    </ul>

                    <!--<form class="navbar-form navbar-right" role="search">-->
                    <!--<div class="form-group">-->
                    <!--<input type="text" class="form-control" placeholder="Search">-->
                    <!--</div>-->
                    <!--<button type="submit" class="btn btn-default"><i class="fa fa-search"></i> Submit</button>-->
                    <!--</form>-->
                </div>
            </div>

            <!-- Menu Tabs -->
            <div class="row" style="height: 100%; margin-right: 10px">
                <div class="tabs tabs-style-bar" >
                    <nav>
                        <ul style="margin-right: 0px">
                            <li class="menuTab menuTab-current"><a ui-sref="postko.home" class="icon icon-home"><span>Home</span></a></li>
                            <!--<li class="menuTab"><a ui-sref="postko.products" class="icon icon-box"><span>How it Works</span></a></li>-->
                            <!--<li class="menuTab"><a ui-sref="home.fly" class="icon icon-plane"><span>Flyers</span></a></li>-->
                            <!--<li class="menuTab"><a ui-sref="home.ship" class="icon icon-box"><span>Shippers</span></a></li>-->
                            <li class="menuTab"><a ui-sref="home.about" class="icon icon-tools"><span>About</span></a></li>
                            <li class="menuTab"><a ui-sref="home.faq" class="icon icon-config"><span>FAQ</span></a></li>
                            <li class="menuTab"><a ui-sref="home" class="icon icon-config"><span>Login</span></a></li>
                            <li class="menuTab"><a ui-sref="home" class="icon icon-config"><span>Sign Up</span></a></li>

                        </ul>
                    </nav>
                </div><!-- /tabs -->
            </div>
        </div>
    </div>
</nav>
