<section class="bread-wrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h4>Frequently Asked Questions</h4>
            </div>
            <div class="col-sm-6 hidden-xs text-right">
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li>Faqs</li>
                </ol><!--breadcrumb-->
            </div>
        </div>
    </div>
</section><!--.bread-wrap-->
<div class="divide80"></div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla non pulvinar. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut eu risus enim, ut pulvinar lectus.
            </p>
            <!--collapse-->
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Collapsible Group Item #1
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                Collapsible Group Item #2
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                Collapsible Group Item #3
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div><!--panel default-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
                                Collapsible Group Item #4
                            </a>
                        </h4>
                    </div>
                    <div id="collapsefour" class="panel-collapse collapse">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div><!--panel default-->
            </div>
            <!--collapse end-->
            <div class="divide40"></div>
            <h3 class="heading">
                Video Help
            </h3>
            <div class="embed-responsive embed-responsive-16by9 margin30">
                <iframe src="http://player.vimeo.com/video/57175742"></iframe>
            </div>
        </div><!--faqs col-->

        <div class="col-md-3 col-md-offset-1">
            <div class="sidebar-box margin40">
                <h4>Faqs Categories</h4>
                <ul class="list-unstyled cat-list">
                    <li> <a href="#">Marketing</a> <i class="fa fa-angle-right"></i></li>
                    <li> <a href="#">Videos</a> <i class="fa fa-angle-right"></i></li>
                    <li> <a href="#">Sports</a> <i class="fa fa-angle-right"></i></li>
                    <li> <a href="#">Fashion</a> <i class="fa fa-angle-right"></i></li>
                    <li> <a href="#">Media</a> <i class="fa fa-angle-right"></i></li>
                    <li> <a href="#">Seo</a> <i class="fa fa-angle-right"></i></li>
                    <li> <a href="#">Marketing</a> <i class="fa fa-angle-right"></i></li>
                </ul>
            </div><!--categories-->
            <!-- Forms -->
            <!--<div class="sidebar-box margin40">-->
                <!--<h4>Send Questions</h4>-->
                <!--<div class="contact-form">-->
                    <!--<form role="form">-->
                        <!--<div class="form-group">-->
                            <!--<label for="name">Name</label>-->
                            <!--<input type="text" class="form-control" id="name">-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label for="mail">Email</label>-->
                            <!--<input type="email" class="form-control" id="mail" required="">-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label for="message">Your Question</label>-->
                            <!--<textarea class="form-control" rows="6" id="message" required=""></textarea>-->
                        <!--</div>-->

                        <!--<button type="submit" class="btn btn-theme-bg">Send Question</button>-->
                    <!--</form>&lt;!&ndash;form&ndash;&gt;-->
                <!--</div>-->
            <!--</div>&lt;!&ndash;categories&ndash;&gt;-->
        </div><!--faqs sidebar col-->
    </div>
</div><!--faq-container-->
<div class="divide80"></div>>