<div class="divide30"></div>
<div class="container">
    <div class="row">
        <div class="col-md-7 margin30">
            <h3 class="heading">Get In Touch</h3>
            <div class="contact-form">
                <form role="form">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <label for="mail">Email</label>
                        <input type="email" class="form-control" id="mail" required="">
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" rows="6" id="message" required=""></textarea>
                    </div>

                    <button type="submit" class="btn btn-theme-bg">Send Message</button>
                </form><!--form-->
            </div><!--contact-form-->
        </div>
        <div class="col-md-5">
            <h3 class="heading">Address Info</h3>
            <p>
                Duis nisl est, porta eu augue et, tempor congue mauris. Praesent a ligula in urna consectetur rhoncus.
            </p>
            <ul class="address-info list-unstyled">
                <li><i class="fa fa-home"></i> Vaishali nagar, Jaipur, 302012</li>
                <li><i class="fa fa-phone"></i> +91 123456789</li>
                <li><i class="fa fa-envelope"></i> <a href="#">support@designmylife.com</a></li>
                <li><i class="fa fa-print"></i> 1234567595 9449</li>
                <li><i class="fa fa-clock-o"></i>Monday - Friday : 9:30pm - 5:30pm</li>
            </ul>
        </div>
    </div>
    <div class="divide60"></div>
    <div class="row">
        <div class="col-md-12">
            <div id="map-canvas" style="width:100%;height: 400px;"></div>
        </div>
    </div>
</div>