<div class="divide30"></div>
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h3 class="heading">Step 1. List Your Trip</h3>
            <p>
                Register, login, then list your upcoming flight itinerary on our platform. By doing so, you’re telling our shipping partners the dates of your trip, the route that you’re taking, and how many checked luggage slots you’ll have available for shipments.            </p>
        </div>
    </div>

    <div class="divide50"></div>

    <div class="row">
        <div class="col-md-12">
            <h3 class="heading">Step 2. Pick Up Your Cargo</h3>
            <p>
                Pick up your shipment(s) right at your departure airport. All shipped items come in a pre-packed Airmule Travel Box™, so you don’t have to worry about finding space in your own personal luggage. Each Airmule Travel Box™ requires one entire checked luggage slot plus, all Airmule trips come complete with a digital manifest that includes photos and descriptions of every included item.
            </p>
        </div>
    </div>


    <div class="divide50"></div>

    <div class="row">
        <div class="col-md-12">
            <h3 class="heading">Step 3. Complete The Delivery</h3>
            <p>
                Once you’ve landed, head to baggage claim and retrieve your Airmule Travel Box™. Drop off your shipment(s) to our Airmule staff right in the arrival airport. No extra trips.            </p>
        </div>
    </div>

</div><!--about container-->