<div class="divide60"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="portfolio-filters list-inline">
                <li class="filter active" data-filter="all">all</li>
                <li class="filter" data-filter="design">design</li>
                <li class="filter" data-filter="html">HTML5</li>
                <li class="filter" data-filter="wordpress">Wordpress</li>
                <li class="filter" data-filter="seo">Seo</li>
            </ul><!--.portfolio-filter nav-->

            <div id="grid" class="row">
                <div class="col-sm-4 margin20 mix design ">
                    <a>
                        <div class="item-img-wrap">
                            <img src="resources/img/work-1.png" class="img-responsive" alt="workimg">
                            <div class="item-img-overlay">
                                <span></span>
                            </div>
                        </div>
                    </a><!--work link-->
                    <div class="work-desc">
                        <i class="fa fa-twitter"></i>
                        <h5><a href="#">Project Name</a></h5>
                    </div><!--work desc-->
                </div><!--work col-->
                <div class="col-sm-4 margin20 mix wordpress seo">
                    <a>
                        <div class="item-img-wrap">
                            <img src="resources/img/work-2.png" class="img-responsive" alt="workimg">
                            <div class="item-img-overlay">
                                <span></span>
                            </div>
                        </div>
                    </a><!--work link-->
                    <div class="work-desc">
                        <i class="fa fa-twitter"></i>
                        <h5><a href="#">Project Name</a></h5>
                    </div><!--work desc-->
                </div><!--work col-->
                <div class="col-sm-4 margin20 mix design html">
                    <a>
                        <div class="item-img-wrap">
                            <img src="resources/img/work-3.png" class="img-responsive" alt="workimg">
                            <div class="item-img-overlay">
                                <span></span>
                            </div>
                        </div>
                    </a><!--work link-->
                    <div class="work-desc">
                        <i class="fa fa-twitter"></i>
                        <h5><a href="#">Project Name</a></h5>
                    </div><!--work desc-->
                </div><!--work col-->
                <div class="col-sm-4 margin20 mix html seo">
                    <a>
                        <div class="item-img-wrap">
                            <img src="resources/img/work-4.jpg" class="img-responsive" alt="workimg">
                            <div class="item-img-overlay">
                                <span></span>
                            </div>
                        </div>
                    </a><!--work link-->
                    <div class="work-desc">
                        <i class="fa fa-twitter"></i>
                        <h5><a href="#">Project Name</a></h5>
                    </div><!--work desc-->
                </div><!--work col-->
                <div class="col-sm-4 margin20 mix wordpress design">
                    <a>
                        <div class="item-img-wrap">
                            <img src="resources/img/work-5.png" class="img-responsive" alt="workimg">
                            <div class="item-img-overlay">
                                <span></span>
                            </div>
                        </div>
                    </a><!--work link-->
                    <div class="work-desc">
                        <i class="fa fa-twitter"></i>
                        <h5><a href="#">Project Name</a></h5>
                    </div><!--work desc-->
                </div><!--work col-->
                <div class="col-sm-4 margin20 mix html seo">
                    <a>
                        <div class="item-img-wrap">
                            <img src="resources/img/work-6.png" class="img-responsive" alt="workimg">
                            <div class="item-img-overlay">
                                <span></span>
                            </div>
                        </div>
                    </a><!--work link-->
                    <div class="work-desc">
                        <i class="fa fa-twitter"></i>
                        <h5><a href="#">Project Name</a></h5>
                    </div><!--work desc-->
                </div><!--work col-->
                <div class="col-sm-4 margin20 mix design wordpress">
                    <a>
                        <div class="item-img-wrap">
                            <img src="resources/img/work-7.png" class="img-responsive" alt="workimg">
                            <div class="item-img-overlay">
                                <span></span>
                            </div>
                        </div>
                    </a><!--work link-->
                    <div class="work-desc">
                        <i class="fa fa-twitter"></i>
                        <h5><a href="#">Project Name</a></h5>
                    </div><!--work desc-->
                </div><!--work col-->
                <div class="col-sm-4 margin20 mix wordpress design">
                    <a>
                        <div class="item-img-wrap">
                            <img src="resources/img/work-8.png" class="img-responsive" alt="workimg">
                            <div class="item-img-overlay">
                                <span></span>
                            </div>
                        </div>
                    </a><!--work link-->
                    <div class="work-desc">
                        <i class="fa fa-twitter"></i>
                        <h5><a href="#">Project Name</a></h5>
                    </div><!--work desc-->
                </div><!--work col-->
                <div class="col-sm-4 margin20 mix html seo">
                    <a>
                        <div class="item-img-wrap">
                            <img src="resources/img/work-10.jpg" class="img-responsive" alt="workimg">
                            <div class="item-img-overlay">
                                <span></span>
                            </div>
                        </div>
                    </a><!--work link-->
                    <div class="work-desc">
                        <i class="fa fa-twitter"></i>
                        <h5><a href="#">Project Name</a></h5>
                    </div><!--work desc-->
                </div><!--work col-->
            </div><!--#grid for filter items-->
        </div><!--.col-md-12 of portfolio filter-->
    </div><!--row-->
</div><!--container-->
<section class="parallax process-rounded" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 style="margin-bottom: 10px; color: white">QUESTIONS ABOUT OUR PRODUCTS?
                </h2>
                <p style="color: white">Feel free to get in touch!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="#" class="btn btn-lg border-white" style="width: 150px">Request a Quote</a>
                &nbsp;&nbsp;&nbsp;
                <a href="#" class="btn btn-lg border-white" style="width: 150px">Contact Us</a>
            </div>
        </div>
    </div>
</section><!--process rounded-->
